# Email Configuration (just like PHP!)
# Get App Password: Gmail (Settings > Security > App passwords) or your email provider

EMAIL_USER=priyankachannappahadapad@gmail.com
EMAIL_PASSWORD=igha vfrm gqhx sfna
EMAIL_TO=greenchipenergy@gmail.com
BACKEND_PORT=5000
